<div class="content-padded">

  <h1>Beers by <%= @brewery.name %></h1>

  <% if @brewery.beers %>
    <ul>
      <% @brewery.beers.each do |beer| %>
      <li>
        <%= link_to beer.name, beer_url(beer) %>
      </li>
      <% end %>
    <% end %>
    </ul>


  <%= link_to 'All Beer', beers_url %>
</div>
