<h1>All Beers</h1>

<% if @beers %>
  <ul>
    <% @beers.each do |beer| %>
    <li>
      <%= link_to beer.name, beer_url(beer) %>
    </li>
    <% end %>
  <% end %>
  </ul>


<%= link_to "Add Beer", new_beer_url %>
