<div class="content-padded">

  <h1 class="beer-name">All Beers</h1>
  <!-- <input type="search" name="" value="search"> -->

  <% if @beers %>
    <div class="beer-index-div">
      <% @beers.each do |beer| %>
      <div class="beer-index-element">
        <%= link_to beer.name, beer_url(beer) %>
      </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <form method="get" action="/beers/new">
    <button type="submit">Add Beer</button>
  </form>

</div>
<br>
<br>
<br>
<br>
<br>
