<div class="content-padded">

  <h1 class="h1-titles">Matching Beers</h1>

  <% if @search_result %>
    <% if @search_result.empty? %><p>No matches found...</p><% end %>
    <div class="beer-index-div">
      <% @search_result.each do |beer| %>
      <a class="beer-index-element-parent" href="<%= "/beers/#{beer.id}/" %>">
        <div class="beer-index-element">
            <h4><%= beer.name %></h4>
          <div class="beer-avatar">
            <img alt="toast" src="https://ui-avatars.com/api/?name=<%= beer.brewery.name %>&background=161e28&color=f9af53">
          </div>
        </div>
      </a>
      <% end %>
    </div>
  <% end %>
  <br>
  <a href="/beers"><i class="fas fa-arrow-left fa-lg"></i> <strong>Back to all</strong></a>
  <br>
  <br>
  <br>
  <br>
</div>
