// // /* PHASE 0: Reset */
//
html, body, header, nav, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label,
span, article, footer, time, small {
//   // margin: 0;
//   // padding: 0;
//   border: 0;
//   outline: 0;
//   font: inherit;
//   color: inherit;
  text-align: inherit;
//   text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  transition: all 0.5s ease;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  // background-color: #f9af53; // beer color
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


ul {
  list-style: none;
}


//
// // img {
// //   display: block;
// //   width: 100%;
// //   height: auto;
// // }
// //
// input[type="password"],
// input[type="email"],
// input[type="text"],
// input[type="submit"],
// textarea,
// button {
//   /*
//   Get rid of native styling. Read more here:
//   http://css-tricks.com/almanac/properties/a/appearance/
//   */
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

input[type="text"], input[type="password"], {
  padding: 0.2em 0.5em;
  margin: 0.6em 0em;
  border: 1px solid #ccc;
  height: 2em;
  // border-radius: 5px;
  border-radius: 3px;
}
//
// button,
// input[type="submit"] {
//   cursor: pointer;
// }
//
// /* Clearfix */
//
// .group:after {
//   content: "";
//   display: block;
//   clear: both;
// }
