// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h1-titles {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul li {
  margin: 0.2em 0;
  font-weight: 400;
}

.beer-index-element-parent {
  border: 1px solid #161e28; //anblack
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}

.beer-index-element {
  display: flex;
  font-weight: 400;
  font-size: 0.7em;
  background-color: transparent;

  height: 2em;
  min-width: 18em;
  max-width: 18em;

  h4 {
    margin: auto;
    text-align: center;
    color: #161e28; //anblack
  }

  .beer-avatar {
    img {
      width: 2.5em;
    }
    width: 2.4em;
    height: 2.4em;
    border: 1px solid #f9af53; // beer color
    border-radius: 200px;
    overflow: hidden;
  }
}

.beer-index-element-parent:hover {
  border-color: #f9af53; // beer color
  background-color: #f9af53; // beer color
}

.beer-index-div {
  border-radius: 9px;
  background-color: transparent;
  a {
    color: #161e28; //anblack
    text-decoration: none;
  }

  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}


#beerform input, #beerform select {
  margin: 1em 0;
}


.beer-nav-div {
  margin: 2em 1em;
  padding: 0.5em;
  a {
    margin: 1em 1em;
  }

  i:hover {
    color: #161e28; //anblack
  }
}
