.button-div {
  display: flex;
  padding: 0 16px;
}

.button {
  font-weight: 400;
  text-transform: lowercase;

  a {
    border: 2px solid;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.2em;

    padding: 0.5em 2em;
    margin: 0.2em 0em;
    margin-right: 1.4em;

    color: #161e28;
    background-color: #00B7FF;
    border-color: #00B7FF;
  }

  a:hover {
    color: #00B7FF;
    background-color: #161e28;
    border-color: #00B7FF;
    border-radius: 12px;
    // letter-spacing: 0.2px;
  }

  margin: 2em 0em;
}


.button-2 {
  a {
    border-color: #f9af53;
    color: #161e28;


    background-color: #f9af53;
  }
  a:hover {
    color: #f9af53;
    background-color: #161e28;
    border-color: #f9af53;
  }
}


input[type="submit"],
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: transparent;
  width: 8em;

  text-align: center;

  font-weight: 200;
  text-transform: lowercase;
  transition: all 0.8s ease;

  border: 1px solid;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.9em;

  padding: 0.2em 1em;
  margin: 0.2em 0em;
  margin-right: 1.4em;

  // margin: 2em 0em;

  a { color: black}
  a:hover {
    text-decoration: none;
  }
}

input[type="submit"]:hover,
button:hover {
    border-radius: 29px;
    outline: none;
}
