// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-div{
  font-size: 0.8em;
  // display: flex;
  margin: 1em 0 0 0em;
  padding: 0 0 2em 0;

  background-color: #eee;
  // background-color: #f9af53;
  // color: #f9af53;

  // color: #f1f7ee;
  padding: 10px 50px;

}
