// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-div{
  border-radius: 9px;

  font-size: 0.8em;
  color: #161e28; //anblack
  margin: 3em 0 0 0;
  padding: 0 0 2em 0;

  background-color: #eee;
  padding: 10px 50px;

  h2 {
    margin: 0;
  }
}

.comment-username {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
}

.comment-body {
  margin-left: 1em;
  font-size: 0.9em;
}

.add-comment-div {
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  padding: 2em 1em;
  margin-bottom: 2em;

  textarea {
    min-width: 50em;
    max-width: 50em;
    max-height: 10em;
    min-height: 10em;

    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid;
    border-radius: 9px;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em 0;
    -moz-appearance: none;
  }

  .button-1 {
    margin-top: 0;
    input {
      background-color: transparent;
    }
  }
}


.fa-times {
  margin-left: 0.5em;
  color: #161e28;
}

.fa-times:hover, .fa-trash-alt:hover {
  color: red !important;
}
