.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #161e28; //anblack
  background-color: #f9af53; // beer color
  color: white;
  color: #161e28; //anblack
  text-align: center;
  padding: 0.5em 2em 0.5em 2em;

  height: 1em;
  font-size: 12px;

  a {
    color: #161e28; //anblack
    font-weight: 400;
  }

  p {
    margin: 1em 0 0 0;
  }
}
