#main-header {
  font-size: 2em;
  background-color: #161e28; //anblack
  color: #fff;
  color: #f9af53; // beer color

  h1{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 0;
    padding: 10px 16px;
  }

  p {
    margin: 0;
    font-weight: 400;
  }
}

#title-logo-link {
  // border: 2px solid red;
  display: flex;

  .toast-pic-div{
    // border: 2px solid gray;
    // display: flex;
    align-items: center;
    margin: 1.6em 1em 0 1em;
  }
  // max-height: 120px;
}

#title-link {
  // border: 2px solid blue;
  color: #fff;
  color: #f9af53; // beer color
  strong {
    letter-spacing: 8px;
  }
}

#title-link:hover {
  // color: #00B7FF;
  text-decoration: none;
}

.header-user-div {
  display: inline-block;
  font-size: 0.45em;

  padding: 0.7em 0;

  a {
    padding: 0 0.5em;
  }
}


#search-div {
  margin-left: 1em;
  color: #f9af53; // beer color

  input {
    -webkit-appearance: none;
    -moz-appearance: none;

    height: 0.5em;
    width: 19.5em;
    margin: 0;
    margin-left: 0.5em;
    padding: 1em;

    border: 2px solid #f9af53; // beer color
    border-radius: 15px;
    background-color: #161e28; //anblack
    color: #f9af53; // beer color
  }

  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f9af53; // beer color
    opacity: 0.5; /* Firefox */
    text-align: center;
    letter-spacing: 1px;
  }
}

#search-div > form > input[type="submit"]:nth-child(3) {
  display: none;
}


h1{
  font-weight: 200;
}

.fa-sign-out-alt:hover {
  color: #f9af53; // beer color
}
