#main-header {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  padding: 0.6em 1em;

  font-size: 2em;
  background-color: #161e28; //anblack
  color: #fff;
  color: #f9af53; // beer color

  h1{
    font-size: 2em;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

#title-logo-link {
  // border: 2px solid red;
  display: flex;

  .toast-pic-div{
    // border: 2px solid gray;
    display: flex;
    align-items: center;
    margin: 1.6em 1em 0 1em;
  }
  max-height: 120px;
}

#title-link {
  // border: 2px solid blue;
  color: #fff;
  color: #f9af53; // beer color
}

#title-link:hover {
  // color: #00B7FF;
  text-decoration: none;
}

.header-user-div {
  display: flex;
  font-size: 0.45em;

  padding: 0.7em 0;

  a {
    padding: 0 0.5em;
  }
}


#search-div {
  // border: 1px solid red;
  // height: 10px;
  margin-left: 1em;

  input {
    // border: 1px solid blue;
    margin: 0;
    // min-height: 5em;
  }
}

#search-div > form > input[type="submit"]:nth-child(2) {
  display: none;
}
